{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'userdashboard_app/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <bold>Test App</bold>
        <a href="{% url 'dashboard:board' %}">Dashboard</a>
        <a href="{% url 'dashboard:profile' %}">Profile</a>
        <a href="{% url 'users:logout' %}">Log off</a>
      </div><!--end of header-->
      <div class="errors">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
      </div>

      <div id="content">
        <h1>Edit user {{user.user.id}}</h1>
        <h5>Edit Information</h5>
        <form action="{% url 'dashboard:update' id=user.user.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="update" value="edit_information">
          <label for="first_name">First Name: <input type="text" name="first_name" value="{{user.user.first_name}}" /></label>
          <label for="last_name">Last Name: <input type="text" name="last_name" value="{{user.user.last_name}}"/></label>
          <label for="email">Email: <input type="text" name="email" value="{{user.user.email}}"/></label>
          <label for="user_level">User Level:
            <select name="user_level">
              <option value="0">Normal</option>
              <option value="9">Admin</option>
            </select>
          </label>
          <input type="submit" class="button-primary" value="Save">
        </form>

        <h5>Change Password</h5>
        <form action="{% url 'dashboard:update' id=user.user.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="update" value="change_password">
          <label for="password">Password: <input type="password" name="password" /></label>
          <label for="confirm_password">Confirm Password: <input type="password" name="confirm_password" /></label>
          <input type="submit" class="button-primary" value="Update Password">
        </form>

        <h5>Edit Description</h5>
        <form action="{% url 'dashboard:update' id=user.user.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="update" value="edit_description">
          <textarea name="description"></textarea>
          <input type="submit" class="button-primary" value="Save">
        </form>
      </div><!--end of content-->
   </div><!--end of wrapper-->
  </body>
</html>
