{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'userdashboard_app/css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
     p{
      margin: 0px
     }
    .messages{
      border: 1px solid black;
      background-color: silver;
      margin: 5px 0;
    }
    .comments {
      border: 1px solid white;
      background-color: pink;
      margin-left: 20px;
    }
    .comments p{
      border: 1px dotted black;
      background-color: lightblue;
    }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <bold>Test App</bold>
        <a href="{% url 'dashboard:board' %}">Dashboard</a>
        <a href="{% url 'dashboard:profile' %}">Profile</a>
        <a href="{% url 'users:logout' %}">Log off</a>
      </div><!--end of header-->
      <div class="errors">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
      </div>

      <div id="content">
        <h4>{{user.first_name}} {{user.last_name}}</h4>
        <p>Registered at: {{user.created_at}}</p>
        <p>User ID: #{{user.id}}</p>
        <p>Email address: {{user.email}}</p>
        <p>Description:
          {% if description %}
          {{description.description}}
          {% endif %}
        </p>

        <h5>Leave a message for {{user.first_name}}</h5>
        <form action="{% url 'dashboard:addmessage' id=user.id %}" method="post">
          {% csrf_token %}
          <textarea name="entered_message"></textarea>
          <input type="submit" class="button-primary" value="Post">
        </form>

        {% for message in messages %}
         <a href="{% url 'dashboard:show' id=message.creator.id %}">{{message.creator.first_name}} {{message.creator.last_name}}</a> wrote:
          <div class="messages">
            {{message.message}}
          </div>
          <div class="comments">
          {% for comment in comments %}
            {% if message == comment.message  %}
            <a href="{% url 'dashboard:show' id=comment.creator.id %}">{{comment.creator.first_name}} {{comment.creator.last_name}}</a> wrote:
              <p>{{comment.comment}}</p>
            {% endif %}
          {% endfor %}
              <form action="{% url 'dashboard:addcomment' id=message.id %}" method="post">
                {% csrf_token %}
                <textarea name="entered_comment" value="Write a comment"></textarea>
                <input type="submit" class="button-secondary" value="Post">
              </form>
          </div>
         {% endfor %}
      </div><!--end of content-->
   </div><!--end of wrapper-->
  </body>
</html>
